<ng-container [formGroup]="faqForm">
  <div class="fluid formgrid grid p-3">
    <div class="field col-12">
      <label for="question">Enter a Question</label>
      <input
        type="text"
        pInputText
        class="inputfield w-full"
        formControlName="question"
        placeholder="Enter a question"
      />
    </div>
    <div class="field col-12">
      <label for="answer">Enter an Answer</label>
      <app-content-box
        #contentBox
        [required]="true"
        [contentFormControl]="answer"
        classNames="h-auto"
      ></app-content-box>
    </div>
  </div>

  <div class="col-12 ml-auto flex justify-content-end">
    <button
      pButton
      pRipple
      class="mr-1"
      type="button"
      icon="pi pi-save"
      [label]="(createForm ? 'Add' : 'Update') + ' Faq'"
      [disabled]="faqForm.invalid"
      (click)="onAddOrUpdateFaq()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-danger mr-1"
      icon="pi pi-times"
      type="button"
      label="Cancel"
      (click)="goBack()"
    ></button>
  </div>
</ng-container>

