<div
  class="
    p-card
    box
    shadow-4
    p-3
    flex flex-column
    fadeinright
    animation-duration-500
  "
>
  <div class="overflow-hidden text-overflow-ellipsis">
    {{ comment.text }}
    <hr />
  </div>

  <div class="">{{ comment.author.username }}| Date</div>

  <div class="flex justify-content-between align-items-center mt-3">
    <div>
      <button
        pButton
        class="
          p-button-outlined p-button-danger
          justify-content-center
          align-self-end
        "
        icon="pi pi-reply"
        label="Reply"
        (click)="show()"
      ></button>
    </div>
    <div>
      <app-comments
        *ngIf="showCommentButton"
        [commentCount]="comment.subcomments?.length || 0"
        (commentsClickedEvent)="loadSubcomments()"
      ></app-comments>
    </div>
    <div>
      <app-votes
        [dislikeCount]="comment.downvotes || 0"
        [likeCount]="comment.upvotes || 0"
        (likeClickEvent)="likeComment()"
        (dislikeClickEvent)="dislikeComment()"
        [type]="CommentType.Comment"
        [id]="comment.id"
      ></app-votes>
    </div>
  </div>

  <div *ngIf="showCommentForm" class="mt-2">
    <app-comment-form
      (commentAddEvent)="addCommentToForumPost($event)"
      (cancelEvent)="hideCommentForm()"
    ></app-comment-form>
  </div>
</div>
