<div class="flex justify-content-end mr-7 mb-2">
  <p-button icon="pi pi-save" label="Save"></p-button>
</div>
<p-pickList
  [source]="(filteredArticles$ | async) || []"
  [target]="selectedArticles"
  sourceHeader="Available Highlight Categories"
  targetHeader="Selected Highlight Categories"
  [dragdrop]="true"
  [responsive]="true"
  filterBy="title"
  sourceFilterPlaceholder="Search by title"
  targetFilterPlaceholder="Search by title"
  (onSourceFilter)="searchArticle($event)"
>
  <ng-template let-article pTemplate="item">
    <div>
      <i class="pi pi-book mr-2"></i>
      <span class="product-category">{{ article.title }}</span>
    </div>
  </ng-template>
</p-pickList>
