<ng-container *ngIf="featuredArticle">
  <div
    class="p-0 w-full cursor-pointer scalein animation-duration-1000 flex justify-content-between"
    (click)="readArticle(featuredArticle.slug)"
  >
    <div class="w-4 h-full flex border-round">
      <p-image
        [src]="featuredArticle.images?.[0]?.image ?? ''"
        imageClass="h-full w-full border-round object-fit-cover"
      ></p-image>
    </div>
    <div class="w-7 h-full flex flex-column">
      <div class="w-full font-medium mb-1 hover-underline hover:text-darkblue">
        {{ featuredArticle.title }}
      </div>
      <!-- <div class="w-full text-xs">
        {{ featuredArticle.created_on | date: 'longDate' }}
      </div> -->
    </div>
  </div>
</ng-container>
