<ng-container *ngIf="featuredArticle">
  <div
    class="p-0 w-full cursor-pointer flex justify-content-between flex-column align-content-start h-full"
    (click)="readArticle(featuredArticle)"
  >
    <div class="w-full h-full flex border-round">
      <img
        [src]="featuredArticle.images?.[0]?.image ?? ''"
        class="h-full w-full border-round object-fit-cover"
        alt="featured-article-image"
      />
    </div>
    <div
      class="w-full font-medium mb-1 hover-underline hover:text-darkblue mt-3"
    >
      {{ featuredArticle.title }}
    </div>
  </div>
</ng-container>
