<ng-container>
  <a class="no-underline" href="https://aiti-kace.com.gh">
    <div
      class="p-0 w-full cursor-pointer scalein animation-duration-500 flex flex-wrap mb-4"
    >
      <div class="mb-2">
        <i class="pi pi-arrow-right mr-2 text-lg text-orange-400"></i>
        <span class="capitalize font-bold text-xl text-bluegray-900">
          Government agency
          <!-- {{directLink.title}} -->
        </span>
      </div>

      <div class="underline text-800 mb-4">
        Government agency responsoble for the registration of
        Businesses,Industrial Property Rights, Marriages, Administration of
        Estates, Public Trusts and provision of related services.
        <!-- {{directLink.description}} -->
      </div>
    </div>
  </a>
</ng-container>
