<ng-container *ngIf="digiLink">
  <a class="no-underline" [href]="digiLink.url">
    <div class="p-0 w-full cursor-pointer scalein animation-duration-500 mb-4">
      <div class="flex mb-2">
        <i class="pi pi-arrow-right mr-2 text-lg text-orange-400"></i>
        <span class="capitalize font-bold text-xl text-bluegray-900">
          <!-- Government agency -->
          {{ digiLink.title }}
        </span>
      </div>

      <div class="flex underline text-800 mb-4">
        <!-- Government agency responsoble for the registration of
        Businesses,Industrial Property Rights, Marriages, Administration of
        Estates, Public Trusts and provision of related services. -->
        {{ digiLink.description }}
      </div>
    </div>
  </a>
</ng-container>
