.wrapper {
  @media screen and (min-width: 900px) {
    top: 90px;
  }

  .featured-category {
    &:hover {
      margin-left: 1rem;
    }
    &:focus {
      outline: none !important;
    }
  }
}

.active::before {
  content: '-->>';
}

.wrapper {
  @media screen and (max-width: 1024px) and (min-width: 100px) {
    background-color: var(--darkblue-400) !important;
    padding: 4px;
  }
}

:host ::ng-deep {
  .sidemenu {
    z-index: 1000 !important;
    background-color: rgba($color: white, $alpha: 0.95) !important;
  }

  app-login-button {
    .login-button,
    .user-icon {
      color: var(--lime-500) !important;
      border-color: var(--lime-500) !important;
    }

    .loginMenu {
      left: 15% !important;
      display: none !important;
    }
  }
}
