.wrapper {
  @media screen and (min-width: 992px) {
    top: 90px;
    height: 85vh !important;
  }

  .featured-category {
    &:hover {
      margin-left: 1.5rem;
      color: var(--pink-200) !important;

      .arrow {
        margin-right: 1.5rem !important;
      }
    }
    &:focus {
      outline: none !important;
    }
  }
}

.wrapper {
  @media screen and (max-width: 992px) and (min-width: 100px) {
    background-color: var(--darkblue-500) !important;
    padding: 4px;
  }
}

:host ::ng-deep {
  .subcategory-side-panel {
    .p-sidebar-content {
      padding-right: 0px !important;
      height: 100vh !important;
      @media screen and (min-width: 992px) {
        height: 95vh !important;
      }
    }
  }
  .sidemenu {
    background-color: #daedf6 !important;
    @media screen and (max-width: 992px) and (min-width: 100px) {
      transition: all;
    }
  }

  app-login-button {
    .login-button,
    .user-icon {
      color: white !important;
      border-color: white !important;
    }

    .loginMenu {
      left: 15% !important;
      display: none !important;
    }
  }
}

hr {
  width: 10rem;
  float: left;
}

li {
  list-style: none;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.active {
  color: var(--pink-500) !important;
  // background-color: rgba($color: black, $alpha: 0.05) !important;
  background-color: #daedf6 !important;
}
.active-link {
  color: #fdbfe6 !important;
}

