<div
  class="
    forum-post-card
    shadow-5
    p-component p-3
    border-round
    fadeindown
    animation-duration-1000
    hover:text-pink-700 hover:bg-gray-100
    transition-all transition-duration-500 transition-ease-out
  "
  (click)="openForumPost()"
  *ngIf="forumPost"
>
  <div class="flex justify-content-between align-content-center">
    <div class="flex">
      <p-avatar
        [image]="avatar"
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <div class="text-lg font-bold mt-1">
        {{ forumPost.title | uppercase }}
        <div class="text-sm">
          {{ forumPost.submitter.username }}
          | Date
        </div>
      </div>
    </div>

    <div class="align-content-end">
      <app-comments
        [commentCount]="forumPost.comment_count || 0"
      ></app-comments>
    </div>
  </div>

  <div
    class=""
    [innerHTML]="
      domSanitizer.bypassSecurityTrustHtml(
        forumPost.content || '' | appEllipsis: 100
      )
    "
  ></div>

  <!-- <hr /> -->
  <!-- <div class="flex justify-content-between align-items-center">
    <div>
      <app-comments
        [commentCount]="forumPost.comment_count || 0"
      ></app-comments>
    </div>
    <div>
      <app-votes></app-votes>
    </div>
  </div> -->
</div>
