<div
  class="
    forum-post-card
    transition-all transition-delay-500
    shadow-4
    p-component p-3
    border-round
    fadeindown
    animation-duration-1000
  "
  *ngIf="forum"
>
  <div class="text-2xl font-bold">
    {{ forum.name | uppercase }}
  </div>
  <div class="text-600 font-italic mb-1">Author Name | Date</div>
  <div>
    {{ forum.description || '' | appEllipsis: 250 }}
    <hr />
  </div>
  <div class="flex justify-content-between align-items-center">
    <app-comments></app-comments>
    <app-votes
      (dislikeClickEvent)="dislikeForum()"
      (likeClickEvent)="likeForum()"
    ></app-votes>
    <button
      pButton
      icon="pi pi-arrow-right"
      class="
        p-button-outlined p-button-danger
        justify-content-center
        align-self-end
      "
      label="Go to Forum"
      (click)="openForum()"
    ></button>
  </div>
</div>
