<div class="footer-links mb-2">
  <div class="text-2xl font-bold mt-3">MSME Gateway</div>
  <p class="w-12rem">
    The Digital Gateway is a centralised information platform for Micro, Small,
    Medium, Enterprises (MSME) in Ghana.
  </p>
  <div class="flex">
    <div class="flex w-5rem h-5rem">
      <img
        src="assets/img/UNDP-Logo-White-01.png"
        alt="MSME Gateway"
        class="h-full w-full object-fit-cover -ml-3"
      />
    </div>

    <div class="flex align-self-end w-10rem -ml-4">UNDP Ghana Initiative</div>
  </div>
</div>

