<ng-container *ngIf="!(loading$ | async); else loading">
  <ng-container *ngIf="product$ | async">
    <app-heading
      [title]="(product$ | async).product?.name"
      [description]="(product$ | async)?.product?.description | appEllipsis"
    ></app-heading>

    <div class="w-11 xl:w-10 block ml-auto mr-auto">
      <p-galleria
        *appShellNoRender
        #gallery
        [value]="(product$ | async).product?.images"
        [containerClass]="'container'"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        [(visible)]="displayImage"
        [(activeIndex)]="activeIndex"
        [showIndicators]="true"
        [numVisible]="5"
      >
        <ng-template pTemplate="item" let-item *appShellNoRender>
          <img
            [src]="item.image"
            [alt]="item.title"
            class="w-12 h-23rem border-round object-fit-contain"
          />
        </ng-template>
      </p-galleria>

      <div
        *ngIf="(product$ | async).product?.images"
        class="flex w-full ml-0 my-3 overflow-x-scroll mt-3"
      >
        <div
          *ngFor="
            let img of (product$ | async).product?.images;
            let index = index
          "
          class="col-4 lg:col-3"
        >
          <img
            *appShellNoRender
            [src]="img.image"
            [alt]="img.name"
            class="cursor-pointer border-round w-full h-10rem object-fit-contain thumbnail transition-all transition-duration-300 transition-ease-in-out"
            (click)="imageClick(index)"
          />
        </div>
      </div>
    </div>

    <div
      class="flex flex-column lg:flex-row justify-content-between align-items-start"
    >
      <!-- description -->
      <div class="col-12 lg:col-6">
        <div class="text-lg shadow-1 border-round p-4">
          <div class="mb-3 font-bold text-left">Description</div>
          <div class="text-justify">
            {{ (product$ | async)?.product?.description }}
          </div>
        </div>
      </div>

      <!-- info -->
      <div class="col-12 lg:col-6">
        <div class="flex justify-content-between align-items-center">
          <div class="font-bold text mb-2 text-xl">
            GHS {{ (product$ | async)?.product?.price }}
          </div>
          <p-message
            [severity]="
              (product$ | async)?.ad_type === 'offer' ? 'info' : 'warn'
            "
            [text]="((product$ | async)?.ad_type | uppercase) || ''"
            styleClass="p-message-no-icon mb-4"
          ></p-message>
        </div>

        <p-inplace [closable]="false" styleClass="p-0">
          <ng-template pTemplate="display">
            <button
              pButton
              class="w-full mb-2"
              label="Show Contact"
              icon="pi pi-phone"
            ></button>
          </ng-template>
          <ng-template pTemplate="content">
            <button
              pButton
              class="w-full mb-2 p-button-lg"
              [label]="(product$ | async)?.cellphone || ''"
              icon="pi pi-phone"
            ></button>
          </ng-template>
        </p-inplace>
        <div class="w-full border-round surface-200">
          <div class="p-3">
            <div class="flex justify-content-between my-3">
              <span class="flex font-medium text-left">Type:</span>
              <span class="flex font-normal text-right uppercase">
                {{ (product$ | async)?.ad_type }}
              </span>
            </div>
            <div class="flex justify-content-between my-3">
              <span class="flex font-medium text-left">Product Type:</span>
              <span class="flex font-normal text-right capitalize">
                {{ (product$ | async).product?.product_type[0]?.name }}
              </span>
            </div>
            <div class="flex justify-content-between my-3">
              <span class="flex font-medium text-left">Location:</span>
              <span class="flex font-normal text-right capitalize">
                {{ (product$ | async)?.location }}
              </span>
            </div>
            <div class="flex justify-content-between my-3">
              <span class="flex font-medium text-left">District:</span>
              <span class="flex font-normal text-right capitalize">
                {{ (product$ | async)?.district?.name }}
              </span>
            </div>
            <div class="flex justify-content-between my-3">
              <span class="flex font-medium text-left">Ghana Post:</span>
              <span class="flex font-normal text-right uppercase">
                {{ (product$ | async)?.gh_post }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <ng-template #sideInfo> -->

  <!-- </ng-template> -->
</ng-container>

<ng-template #loading>
  <app-forum-loading-card></app-forum-loading-card>
</ng-template>

