<ng-container>
  <div class="fluid formgrid grid">
    <div class="field col-12">
      <label for="title">Title</label>
      <input type="text" pInputText class="inputfield w-full">
    </div>
    <div class="field col-12 md-6">
      <label for="title">Tag</label>
      <app-auto-complete></app-auto-complete>
    </div>
    <div class="field col-12 md-6">
      <label for="title">Category</label>
      <app-auto-complete ></app-auto-complete>
    </div>
    <div class="field col-12 mb-8">
      <label for="body">Body</label>
      <app-app-quill></app-app-quill>
    </div>

    <div class="field col-12 ">
      <button pButton pRipple class="align-self-center" type="button" label="Add Article"></button>
    </div>
  </div>
</ng-container>
