<ng-container [formGroup]="articleForm" ]>
  <div class="fluid formgrid grid">
    <div class="field col-12">
      <label for="title">Title</label>
      <input
        type="text"
        pInputText
        class="inputfield w-full"
        formControlName="title"
      />
    </div>
    <!-- tag and category -->
    <div class="flex flex-column md:flex-row col-12">
      <div class="field col-12 md:col-6">
        <label for="title">Tag</label>
        <app-tag-autocomplete [selectedTags]="tags"></app-tag-autocomplete>
      </div>
      <div class="field col-12 md:col-6">
        <label for="title">Category</label>
        <app-category-autocomplete
          [selectedCategory]="categories"
        ></app-category-autocomplete>
      </div>
    </div>

    <div class="field col-12 mb-8">
      <label for="body">Body</label>
      <app-content-box
        #contentBox
        [required]="true"
        [contentFormControl]="content"
      ></app-content-box>
    </div>

    <div class="field col-12 ml-auto">
      <button
        pButton
        pRipple
        class="align-self-center"
        type="button"
        label="Add Article"
        [disabled]="articleForm.invalid"
        (click)="onAddOrUpdateArticle()"
      ></button>
    </div>
  </div>
</ng-container>
