<p-sidebar
  [(visible)]="show"
  [blockScroll]="true"
  styleClass="p-sidebar-lg w-full lg:w-5"
  position="right"
  (onHide)="hidePanel()"
  [fullScreen]="(device.isHandheld$ | async) || false"
>
  <div class="flex col-12 justify-content-between sticky top-0 z-1 bg-white">
    <div class="p-2 col-10">
      <div class="text-xl font-bold text-center uppercase white-space-normal">
        {{ title$ | async }}
      </div>
    </div>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="p-button-text p-button-secondary"
      (click)="hidePanel()"
    ></button>
  </div>
  <ng-content></ng-content>
</p-sidebar>
