<div (click)="openArticle()">
  <p-card
    *ngIf="article"
    styleClass="shadow-6 article-card p-2 w-full scalein animation-duration-500 justify-content-between"
  >
    <ng-template pTemplate="header">
      <div class="flex justify-content-center flex-wrap">
        <div class="absolute p-4 text-white font-bold">
          <h3 class="bg-gray-500 px-4">
            {{ article.category?.name }}
          </h3>
          <h1>
            {{ article.title }}
          </h1>
        </div>
      </div>

      <app-article-image
        [images]="article?.images || []"
        [title]="article.title.substr(0, 1) | uppercase"
      ></app-article-image>
    </ng-template>
  </p-card>
</div>
