<p-card
  header="A very very long title of the article, quite descriptive"
  subheader="The Author | 22 July 2021"
  styleClass="shadow-6 article-card p-2 w-19rem h-24rem"
>
  <ng-template pTemplate="header">
    <div class="article-category p-1 bg-gray-900 text-white">Finance</div>
    <img alt="Card" src="https://picsum.photos/200/100" />
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button
        pButton
        class="p-button-outlined p-button-danger"
        label="Read More"
        icon="pi pi-book"
      ></button>
    </div>
  </ng-template>
</p-card>
