<div *ngIf="forum$ | async; else loading">
  <div class="flex justify-content-between p-component">
    <div class="text-2xl font-bold">
      {{ (forum$ | async)?.name | uppercase }}
    </div>
  </div>

  <div class="mt-3">
    {{ (forum$ | async)?.description }}

    <hr />
    <div class="flex justify-content-between align-items-center">
      <div class="col-9 justify-content-between align-items-center">
        <i class="pi pi-tag text-blue-700 mr-2"></i>
        <span
          *ngFor="let tag of (forum$ | async)?.tags"
          class="p-tag p-tag-info mr-2"
        >
          {{ tag.name }}
        </span>
      </div>
      <button
        pButton
        icon="pi pi-plus"
        class="col p-button-outlined p-button-secondary flex align-items-center"
        label="Add Forum Post"
        (click)="goToAddForumPost()"
      ></button>
    </div>
  </div>
  <ng-container *ngIf="forumPosts$ | async">
    <div
      class="
        text-center text-darkblue
        font-semibold
        my-2
        p-component
        border-none
        mb-1
      "
    >
      TOPICS UNDER DISCUSSION
    </div>

    <div class="mb-2" *ngFor="let forumPosts of forumPosts$ | async">
      <app-forum-post-card [forumPost]="forumPosts"></app-forum-post-card>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <app-forum-loading-card></app-forum-loading-card>
</ng-template>
