<p-card
  *ngIf="forum$ | async; else loading"
  styleClass="shadow-6  p-2 w-full scalein animation-duration-500 justify-content-between"
>
  <ng-template pTemplate="header">
    <div class="p-card-title">
      {{ (forum$ | async).name | uppercase }}
    </div>
    <div class="p-card-subtitle">Author Name | Date</div>
  </ng-template>
  <div>
    {{ (forum$ | async).description }}
    <hr />
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between align-items-center">
      <app-votes></app-votes>
      <button
        pButton
        class="
          p-button-outlined p-button-danger
          justify-content-center
          align-self-end
        "
        icon="pi pi-reply"
        label="Reply"
        (click)="reply()"
      ></button>
    </div>
  </ng-template>
</p-card>
<app-comment-card></app-comment-card>
<ng-template #loading>
  <p-skeleton></p-skeleton>
</ng-template>
