<ng-container>
  <form
    [formGroup]="loginForm"
    class="my-8 md:px-6 px-6"
    enterPressed
    (onEnterPressed)="onLoginSubmit()"
    errorTailor
  >
    <div
      class="fluid formgrid grid justify-content-center align-content-center"
    >
      <div class="col-12 text-xl text-center py-5">Welcome Back</div>
      <div class="col-12 text-4xl text-center text-blue-700 pb-8">LOGIN</div>
      <ng-container *ngIf="loginForm.errors?.['emailNotVerified']">
        <p class="text-xs text-center text-blue-700">
          You have not verified your email. Check your email or click 'Resend
          Verification' to request another verification email.
        </p>
        <button
          pButton
          pRipple
          class="ml-auto mr-auto p-button-warning mb-3"
          type="button"
          label="Resend Verification"
          (click)="resendVerification()"
          [disabled]="email?.invalid"
        ></button>
      </ng-container>

      <!-- username -->
      <div class="field col-12 px-8">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon bg-darkblue"
            ><i class="pi pi-envelope text-white"></i
          ></span>
          <input
            type="text"
            pInputText
            placeholder="Email"
            formControlName="email"
            class="inputfield w-full"
          />
        </div>
      </div>

      <p
        class="text-sm font-bold p-2 px-8 text-pink-500"
        *ngIf="forgotPasswordMode"
      >
        To change your password, enter your email and request an OTP(One Time
        Password). The OTP will be sent to your email and will be required when
        changing your password
      </p>

      <!-- password -->
      <div class="field col-12 static px-8" *ngIf="!forgotPasswordMode">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon bg-darkblue"
            ><i class="pi pi-lock text-white"></i
          ></span>
          <p-password
            [toggleMask]="true"
            type="password"
            placeholder="Password"
            formControlName="password"
            inputStyleClass="w-12 relative"
            styleClass="w-12"
            autocomplete="on"
            [feedback]="false"
          ></p-password>
        </div>
      </div>

      <div
        class="field col-12 ml-auto flex flex-column justify-content-between align-items-center px-8"
      >
        <div class="flex justify-content-between w-full align-items-end mb-3">
          <button
            pButton
            pRipple
            class="align-self-center button-color"
            type="button"
            [label]="
              forgotPasswordMode ? 'Request OTP and Change Password' : 'Sign In'
            "
            [disabled]="
              (forgotPasswordMode && email?.invalid) ||
              (!forgotPasswordMode && loginForm.invalid)
            "
            (click)="onLoginSubmit()"
          ></button>

          <div
            class="ml-1 cursor-pointer text-lg font-bold text-pink-700 hover-underline"
            (click)="toggleForgotPasswordMode(); $event.stopPropagation()"
          >
            {{ forgotPasswordMode ? 'Cancel' : 'Forgot Password' }}
          </div>
        </div>
        <div>
          Don't have an account?
          <span
            class="ml-1 cursor-pointer text-lg font-bold text-headers hover-underline"
            (click)="goToSignup(); $event.stopPropagation()"
            >Sign up</span
          >
        </div>
      </div>
    </div>
  </form>
</ng-container>

