<div class="footer-links">
  <div class="text-xl font-bold mt-3">Social Media</div>

  <div class="flex">
    <div class="mt-3 mr-3">
      <a
        [href]="(links$ | async)?.[0]?.facebook"
        class="text-white"
        target="_blank"
        rel="noreferrer noopener"
      >
        <i class="pi pi-facebook text-2xl"></i>
      </a>
    </div>
    <div class="mt-3 mr-3">
      <a
        [href]="(links$ | async)?.[0]?.twitter"
        class="text-white"
        target="_blank"
        rel="noreferrer noopener"
      >
        <i class="pi pi-twitter text-2xl"></i
      ></a>
    </div>
    <div class="mt-3">
      <a
        [href]="(links$ | async)?.[0]?.Instagram"
        class="text-white"
        target="_blank"
        rel="noreferrer noopener"
      >
        <i class="pi pi-instagram text-2xl"></i
      ></a>
    </div>
  </div>
</div>
