<article *ngIf="!(loading$ | async); else loading">
  <div class="container py-2 px-2 md:px-6" *ngIf="article$ | async; else notfound">
    <h1 class="title font-bold text-3xl text-headers">
      {{ (article$ | async).title | uppercase }}
    </h1>
    <div class="col-12 flex flex-column md:flex-row">
      <div class="col-12 md:col-6 md:mr-4">
        <app-article-image
          [images]="(article$ | async)?.images || []"
        ></app-article-image>
      </div>
      <div class="col-12 flex flex-column md:col-5 md:mb-4 justify-content-end">
        <div class="m-1">
          Published On: {{ (article$ | async).created_on | date: 'longDate' }}
        </div>
        <div class="m-1 mb-5">
          Author: {{ (article$ | async).created_by?.first_name }}
          {{ (article$ | async).created_by?.last_name }}
        </div>
        <div class="flex m-1 align-items-center mb-2">
          <i class="pi pi-tag mr-1 text-2xl"></i>
          <ng-container
            *ngFor="let tag of (article$ | async).tags; let last = last"
          >
            <p-tag [value]="tag.name" severity="info" class="mr-1"></p-tag>
          </ng-container>
        </div>
        <div class="flex m-1 align-items-center">
          <button
            type="text"
            pButton
            label="Share"
            icon="pi pi-send"
            class="p-button-secondary"
            (click)="op.toggle($event)"
          ></button>
        </div>
        <p-overlayPanel #op [showCloseIcon]="true">
          <ng-template pTemplate>
            <share-buttons
              [show]="3"
              [include]="[
                'facebook',
                'twitter',
                'whatsapp',
                'telegram',
                'email'
              ]"
            ></share-buttons>
          </ng-template>
        </p-overlayPanel>
      </div>
    </div>
    <div class="overflow-hidden md:overflow-auto surface-overlay text-justify">
      <p
        class="col-12 w-full article-content"
        [innerHTML]="
          sanitizer.bypassSecurityTrustHtml((article$ | async)?.content)
        "
      ></p>
    </div>
  </div>
</article>

<ng-template #loading>
  <app-forum-loading-card></app-forum-loading-card>
</ng-template>

<ng-template #notfound>
  <app-no-results-found></app-no-results-found>
</ng-template>

