<article *ngIf="article$ | async; else loading">
  <div class="col-12 flex flex-column md:flex-row">
    <div class="col-12 flex flex-column md:col-6">
      <h1>{{ (article$ | async).title }}</h1>
      <div>Date of Publication</div>
      <div>Authors Name</div>
    </div>
    <div class="col-12 md:col-6">
      <img src="/assets/img.png" class="w-full" alt="" />
    </div>
  </div>
  <div class="overflow-hidden md:overflow-auto surface-overlay p-3">
    <div
      [innerHTML]="
        sanitizer.bypassSecurityTrustHtml((article$ | async)?.content)
      "
    ></div>
  </div>
</article>
<ng-template #loading>
  <p-skeleton></p-skeleton>
</ng-template>
