<div
  class="flex app-footer justify-content-center md:justify-content-evenly align-items-center md:align-items-start flex-column md:flex-row relative footer p-4 bg-darkblue gap-v-16"
>
  <app-footer-mini-info></app-footer-mini-info>

  <app-footer-quick-links></app-footer-quick-links>

  <app-footer-contact-us></app-footer-contact-us>

  <app-footer-socials></app-footer-socials>
</div>
<div
  class="flex app-footer justify-content-center md:justify-content-evenly align-items-center md:align-items-end flex-column md:flex-row relative footer p-4 bg-darkblue gap-v-16"
>
  <div class="flex align-items-center pb-2 mb:pb-0">
    <div class="flex w-5rem h-5rem">
      <img
        src="assets/img/UNDP-Logo-White-01.png"
        alt="MSME Gateway"
        class="h-full w-full object-fit-cover -ml-3"
      />
    </div>

    <div class="flex align-self-end w-7rem -ml-4">UNDP Ghana Initiative</div>
  </div>

  <app-footer-powered-by></app-footer-powered-by>
  <div></div>
  <div></div>

</div>

