.footer {
  color: #fff !important;
}

.app-footer {
  @media screen and (min-width: 1200px) {
    padding-left: 10rem !important;
  }

  @media screen and (min-width: 991px) and (max-width: 1199px) {
    padding-left: 15rem !important;
  }

  @media screen and (min-width: 991px) and (max-width: 1199px) {
    padding-left: 15rem !important;
  }
}

