<div
  class="
    flex
    justify-content-center
    md:justify-content-evenly
    align-items-center
    md:align-items-start
    flex-column
    md:flex-row
    relative
    footer
    p-4
    bg-darkblue
    gap-v-16
  "
>
  <app-footer-quick-links></app-footer-quick-links>

  <app-footer-contact-us></app-footer-contact-us>

  <app-footer-socials></app-footer-socials>
</div>
<div
  class="
    flex
    align-items-center
    justify-content-center
    py-5
    bg-indigo-900
    text-white
    m-0
  "
>
  <app-footer-powered-by></app-footer-powered-by>
</div>
