<div
  class="flex app-footer justify-content-center md:justify-content-evenly align-items-center md:align-items-start flex-column md:flex-row relative footer p-4 bg-white text-primary gap-v-16"
>
  <app-footer-mini-info></app-footer-mini-info>

  <app-footer-quick-links></app-footer-quick-links>

  <app-footer-contact-us></app-footer-contact-us>

  <app-footer-socials></app-footer-socials>
</div>
<div
  class="flex app-footer justify-content-center md:justify-content-evenly align-items-center md:align-items-end flex-column md:flex-row relative footer p-4 bg-white gap-v-16 text-primary"
>
  <div class="flex align-items-center pb-2 mb:pb-0 flex-column md:flex-row">
    <div class="flex h-8rem">
      <img
        src="assets/img/undp1.png"
        alt="MSME Gateway"
        class="h-full w-full object-fit-cover -ml-3 flex"
      />
      <img
        src="assets/img/gea-logo-web.svg"
        alt="GEA"
        class="h-full w-full object-fit-cover -ml-3 flex"
      />
    </div>

    <div class="flex align-self-end w-15rem md:w-15rem text-primary font-bold">
      UNDP Ghana and <br />
      Ghana Enterprises Agency <br />
      Initiative
    </div>
  </div>

  <app-footer-powered-by></app-footer-powered-by>
  <div></div>
  <div></div>
</div>

