<div class="flex justify-content-between align-items-center">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-thumbs-up"
    class="p-button-rounded p-button-outlined text-green-700 mr-2"
    pTooltip="Like"
    tooltipPosition="bottom"
    tooltipStyleClass="text-green-700"
    [label]="likeCount.toString()"
    [disabled]="disableLike"
    proceedIfLoggedIn
    (onProceed)="like()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-thumbs-down"
    class="p-button-rounded p-button-outlined p-button-danger"
    pTooltip="Dislike"
    tooltipPosition="bottom"
    tooltipStyleClass="text-red-500"
    [disabled]="disableDislike"
    [label]="dislikeCount.toString()"
    proceedIfLoggedIn
    (onProceed)="dislike()"
  ></button>
</div>
