<div class="flex justify-content-between align-items-center">
  <button
    pButton
    type="button"
    icon="pi pi-thumbs-up"
    class="
      md:mr-2
      p-1
      md:p-3
      scalein
      animation-ease-in animation-duration-500
      p-button-rounded p-button-info p-button-text
    "
    [ngClass]="liked ? 'bg-blue-900 text-white' : ''"
    pTooltip="Like"
    tooltipPosition="bottom"
    [label]="likeCount.toString()"
    [disabled]="disableLike"
    proceedIfLoggedIn
    (onProceed)="like()"
  ></button>
  <button
    pButton
    type="button"
    icon="pi pi-thumbs-down"
    class="
      p-1
      md:p-3
      scalein
      animation-ease-in animation-duration-500
      p-button-rounded p-button-danger p-button-text
    "
    [ngClass]="disliked ? 'bg-pink-800 text-white' : ''"
    pTooltip="Dislike"
    tooltipPosition="bottom"
    [disabled]="disableDislike"
    [label]="dislikeCount.toString()"
    proceedIfLoggedIn
    (onProceed)="dislike()"
  ></button>
</div>
