button[disliked='true'] {
  background-color: var(--pink-900) !important;
  color: white !important;
}

button[liked='true'] {
  background-color: var(--blue-900) !important;
  color: white !important;
}

.no-click {
  pointer-events: none !important;
}
