<ng-container *ngIf="opportunity">
  <div
    class="p-0 w-full fadein animation-duration-500 overflow-hidden border-round cursor-pointer"
  >
    <div class="h-18rem border-round">
      <p-image
        [src]="opportunity.images?.[0]?.image ?? ''"
        imageClass="w-full h-full border-round mb-3 object-fit-cover"
        alt="current-opportunities-image"
      ></p-image>
    </div>
    <div class="text-left text-blue-900 mt-3">
      {{ opportunity.title }}
    </div>
  </div>
</ng-container>
