<div class="flex justify-content-end mr-7 mb-2">
  <button
    pButton
    icon="pi pi-save"
    label="Save"
    class="p-button-secondary p-button"
    (click)="saveChanges()"
  ></button>
</div>

<p-pickList
  [source]="(unselectedCategories$ | async) || []"
  [target]="selectedArray"
  sourceHeader="Available Categories"
  targetHeader="Selected Categories"
  [dragdrop]="true"
  [responsive]="true"
  [showTargetFilter]="false"
  filterBy="name"
  sourceFilterPlaceholder="Search by name"
  targetFilterPlaceholder="Search by name"
  listStyleClass="min-h-full h-15rem"
  (onMoveToTarget)="checkNumberAndMove($event)"
  (onMoveAllToTarget)="checkNumberAndMove($event)"
>
  <ng-template let-product pTemplate="item" let-index="index">
    <div>
      <i class="pi pi-bookmark mr-2"></i>
      <!-- <span class="mr-2">{{ index + 1 }}</span> -->
      <span class="product-category">{{ product.name }}</span>
    </div>
  </ng-template>
</p-pickList>
