<div class="p-1 pt-0">
  <p-carousel
    [value]="(multimedia$ | async) || []"
    [showNavigators]="true"
    [circular]="true"
    [showIndicators]="false"
    [contentClass]="'content'"
    [numVisible]="1"
    [numScroll]="1"
  >
    <ng-template pTemplate="item" let-video>
      <div class="p-0 w-full border-round">
        <app-multimedia [multimedia]="video"     *appShellRender
        ></app-multimedia>
      </div>
    </ng-template>
  </p-carousel>

  <div *ngIf="featuredCategories$ | async">
    <h3 class="text-center text-2xl font-bold my-5 text-darkblue">
      Featured Categories
    </h3>
    <div class="grid" *appShellRender>
      <ng-container *ngFor="let featured of featuredCategories$ | async">
        <div class="col-12 md:col-4 p-3">
          <app-featured-categories-card
            [category]="featured.category"
          ></app-featured-categories-card>
        </div>
      </ng-container>
    </div>
  </div>



  <div *ngIf="featuredOpportunities$ | async">
    <h3 class="text-center text-2xl font-bold my-5 text-darkblue">Current Opportunities</h3>
<div class="grid" *appShellNoRender>
  <div *ngFor="let opportunity of featuredOpportunities$ | async" class="col-12 md:col-4 p-3">
    <app-opportunitis-card
      [opportunity]="opportunity.article"
    ></app-opportunitis-card>
  </div>
</div>
  </div>

  <h3 class="text-center text-2xl font-bold my-5 text-darkblue">
    Direct Links
  </h3>

    <div class="grid" *appShellNoRender>
      <ng-container *ngFor="let directLink of directLinks$ | async">
      <div class="col p-2">
        <app-direct-links-card [digiLink]="directLink"></app-direct-links-card>
      </div>
    </ng-container>
    </div>

  <!-- <div class="mb-6">
    <div class="text-2xl font-bold my-3">Forum</div>
    <div class="pb-2">
      <div class="text-lg my-2">Most Topics</div>
      <app-forum-card
        [forum]="(forumMetrics$ | async)?.most_posts?.forum"
        [count]="(forumMetrics$ | async)?.most_posts?.count"
      ></app-forum-card>
    </div>
    <div>
      <div class="text-lg my-2">Recently Added</div>
      <app-forum-card
        [forum]="(forumMetrics$ | async)?.most_recent_post?.forum"
      ></app-forum-card>
    </div>
  </div> -->

  <!-- <div class="text-2xl font-bold my-3">Multimedia</div>
  <p-carousel
    #multimediaSlider
    [value]="(multimedia$ | async) || []"
    styleClass="custom-carousel"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-video>
      <div class="p-2 h-15rem">
        <app-multimedia [multimedia]="video"></app-multimedia>
      </div>
    </ng-template>
  </p-carousel> -->

  <!-- <div class="text-2xl font-bold my-3">Marketing Info</div>
  <p-carousel
    #marketSlider
    [value]="(productAds$ | async) || []"
    styleClass="custom-carousel py-2"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
  >
    <ng-template pTemplate="item" let-productAd>
      <div class="p-2">
        <app-market-card [productAd]="productAd"></app-market-card>
      </div>
    </ng-template>
  </p-carousel> -->
</div>
