.article-title {
  bottom: 25px;
}

:host ::ng-deep {
  app-article-card {
    .article-card {
      box-shadow: unset !important;
      width: 100%;
    }
  }

  .event-slider:hover {
    box-shadow: 1px 1px 6px var(--darkblue-500) !important;
    border-radius: 10px;
  }
  // .p-carousel-items-content {
  //   border-radius: 20px;
  // }
}

