<p-carousel
  [value]="(articles$ | async) || []"
  styleClass="h-auto lg:h-20rem w-full"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="10000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-article pTemplate="item">
    <div class="py-5">
      <div class="text-center flex justify-content-center">
        <div class="mb-3 relative">
          <img
            [src]="article.images?.[0]?.image"
            [alt]="article.title"
            class="w-full h-auto lg:h-15rem"
          />
          <div
            class="
              fadeinleft
              article-title
              bg-white
              text-gray-900
              static
              md:absolute
              animation-duration-1000
              w-auto
              h-auto
              font-bold
              text-xl
              md:text-3xl
              animation-ease-out
            "
          >
            {{ article.title }}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<div *ngIf="articles$ | async">
  <div class="text-2xl mt-3 font-bold">Featured Articles</div>
  <p-carousel
    [value]="(articles$ | async) || []"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-article>
      <div class="px-2 py-2">
        <app-article-card [article]="article"></app-article-card>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div>
  <div class="text-2xl mt-3 font-bold">Forum</div>
  <app-forum-card [forum]="forum$ | async"></app-forum-card>
</div>
<div>
  <div class="text-2xl mt-3 font-bold">Marketing Info</div>
  <p-carousel
    [value]="(productAds$ | async) || []"
    styleClass="custom-carousel py-2"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="2000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-productAd>
      <div class="px-2 py-2">
        <app-market-card [productAd]="productAd"></app-market-card>
      </div>
    </ng-template>
  </p-carousel>
</div>
<div>
  <div>
    <p-card header="About Us">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non massa
      vitae metus imperdiet ultrices. Fusce sed laoreet nunc. Maecenas tempor
      mollis turpis pellentesque egestas. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. In viverra magna
      nec enim rhoncus, vitae auctor dolor hendrerit. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Nam mattis neque eget tortor vulputate, in finibus risus dictum. In
      suscipit fringilla sem eget aliquet. Nam vitae consectetur neque. Proin
      laoreet eros eget nisl finibus ornare. Sed et blandit leo. In luctus
      accumsan enim, a facilisis enim venenatis vestibulum. Maecenas rutrum
      pellentesque ex et sodales. Nunc sit amet dignissim augue, id mollis
      turpis. Pellentesque imperdiet, justo quis viverra lacinia, odio sapien
      efficitur nunc, vitae cursus neque turpis ut neque. Nulla iaculis tellus
      nisi, nec ullamcorper libero consequat facilisis. Pellentesque elementum
      lorem est, at convallis justo pellentesque et. Vivamus sed aliquam dolor,
      quis tempus leo. Donec sit amet purus a metus pretium convallis at quis
      quam. Fusce eget sem ac tellus suscipit rutrum vitae porttitor purus. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nam venenatis, nisi in vehicula consectetur, neque odio
      tincidunt enim, sed suscipit dui ante sit amet odio. Cras et nulla ac
      lorem bibendum faucibus. Suspendisse ligula augue, facilisis eu magna in,
      sollicitudin ornare diam. Donec placerat aliquam quam, eu fringilla justo
      accumsan a.
    </p-card>
  </div>

  <div class="text-2xl mt-3 font-bold">Multimedia</div>
  <p-carousel
    [value]="multimedia"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="4000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-video>
      <div class="px-2 py-2 h-15rem">
        <app-multimedia [videoId]="video"></app-multimedia>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div>
  <p-card header="Partners" class="">
    <div class="grid">
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/AITI_LOGO.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/absa.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/access.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/gh-kumas_.gif" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/jomoro.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/ketu.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/mesti.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/sic.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/undp.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
      <div class="col-4 flex justify-content-center">
        <img src="assets/img/zenith.png" alt="aiti" class="w-10rem h-5rem" />
      </div>
    </div>
  </p-card>
</div>
