<div class="p-1 pt-0">
  <div class="p-4 w-full border-round" *appShellRender>
    <p-skeleton styleClass="mb-3 w-11" height="20rem"></p-skeleton>
  </div>

  <p-carousel
    *appShellNoRender
    #multimediaSlider
    [value]="(multimedia$ | async) || []"
    [showNavigators]="!(isHandheld$ | async)"
    [circular]="true"
    [showIndicators]="false"
    [contentClass]="'content'"
    [numVisible]="1"
    [numScroll]="1"
    [autoplayInterval]="20000"
  >
    <ng-template pTemplate="item" let-video>
      <div class="p-0 w-full border-round">
        <app-multimedia
          (playerStatus)="videoStatusChange($event)"
          [multimedia]="video"
        ></app-multimedia>
      </div>
    </ng-template>
  </p-carousel>

  <div *ngIf="featuredCategories$ | async">
    <h3 class="text-center text-2xl font-bold mt-5 mb-0 text-headers">
      Featured Categories
    </h3>
    <hr class="mb-5 w-5rem" />
    <div class="grid px-6">
      <ng-container
        *ngFor="
          let featured of featuredCategories$ | async;
          trackBy: trackAny('category.id')
        "
      >
        <div class="col-12 md:col-4 p-3">
          <app-featured-categories-card
            [category]="featured.category"
          ></app-featured-categories-card>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="p-4 w-full border-round" *appShellRender>
    <p-skeleton styleClass="mb-3 w-11" height="20rem"></p-skeleton>
  </div>

  <div *ngIf="featuredOpportunities$ | async">
    <h3 class="text-center text-2xl font-bold mt-5 mb-0 text-headers">
      Current Opportunities
    </h3>
    <hr class="mb-5 w-5rem" />
    <div class="grid px-6">
      <div
        *ngFor="
          let opportunity of featuredOpportunities$ | async;
          trackBy: trackAny('article.id')
        "
        class="col-12 md:col-4 p-3"
      >
        <app-opportunitis-card
          [opportunity]="opportunity.article"
        ></app-opportunitis-card>
      </div>
    </div>
  </div>

  <div class="p-4 w-full border-round" *appShellRender>
    <p-skeleton styleClass="mb-3 w-11" height="20rem"></p-skeleton>
  </div>

  <h3 class="text-center text-2xl font-bold mt-5 mb-0 text-headers">
    Partners
  </h3>
  <hr class="mb-5 w-5rem" />
  <p-carousel
    *appShellNoRender
    [value]="(allPartners$ | async) || []"
    [showNavigators]="!(isHandheld$ | async)"
    [circular]="true"
    [showIndicators]="false"
    [contentClass]="'content'"
    [numVisible]="5"
    [numScroll]="1"
    [autoplayInterval]="15000"
  >
    <ng-template pTemplate="item" let-partner>
      <div class="p-0 w-full border-round">
        <app-partners-card [partner]="partner"></app-partners-card>
      </div>
    </ng-template>
  </p-carousel>
</div>

