<ng-container *ngIf="category">
  <div
    class="p-0 w-full scalein animation-duration-500 overflow-hidden border-round cursor-pointer hover-underline animation-delay-1000"
    (click)="gotoCategoryPage(category)"
  >
    <div class="h-15rem border-solid border-round">
      <img
        [src]="category.image"
        class="object-fit-contain h-full w-full"
        alt="Category Image"
      />
    </div>
    <div class="text-blue-900 text-center mt-3">
      {{ category.description }}
    </div>
  </div>
</ng-container>
