<ng-container *ngIf="!images.length; else articleImage">
  <!-- <div
    class="
      flex
      justify-content-center
      align-content-center
      h-10rem
      md:h-full
      bg-gray-400
    "
  >
    <div class="text-white text-700">

    </div>
  </div> -->
  <p-avatar
    [label]="letter"
    size="xlarge"
    styleClass="h-10rem w-full md:h-full"
    icon="pi pi-book"
  ></p-avatar>
</ng-container>

<ng-template #articleImage>
  <div
    class="h-10rem md:h-full article-image background-cover"
    [style.backgroundImage]="imageUrl"
  ></div>
</ng-template>
