<ng-container *ngIf="!images.length; else articleImage">
  <div
    class="
      flex
      justify-content-center
      align-content-center
      h-10rem
      md:h-full
      bg-gray-400
    "
  >
    <div class="text-white text-700">
      {{ letter | uppercase }}
    </div>
  </div>
</ng-container>

<ng-template #articleImage>
  <div
    class="h-13rem md:h-full article-image"
    [ngClass]="coverBackground ? 'background-cover' : ''"
    [style.backgroundImage]="imageUrl"
  ></div>
</ng-template>
