<app-heading
  [title]="'My Forum Posts'"
  [description]="'View all topics you have created'"
  [sideTemplate]="addButton"
>
</app-heading>
<div class="text-center flex justify-content-between"></div>
<app-table
  [data]="(myForumPosts$ | async) || []"
  [columnsDefinition]="columns"
  [actionTemplate]="actions"
  [showAction]="false"
  [title]="'My Forum Posts'"
></app-table>

<ng-template #actions let-forumPost>
  <div class="flex justify-content-between">
    <button
      class="p-button p-button-rounded p-button-danger mr-3"
      pButton
      tooltipPosition="bottom"
      pTooltip="View Forum Post"
      (click)="viewForumPost(forumPost)"
      icon="pi pi-eye"
    ></button>

    <button
      class="p-button p-button-info p-button-rounded mr-auto"
      pButton
      pTooltip="Edit Forum Post"
      tooltipPosition="bottom"
      icon="pi pi-pencil"
      (click)="editForumPost(forumPost)"
    ></button>
  </div>
</ng-template>

<ng-template #addButton>
  <button
    pButton
    class="align-self-end p-btn p-btn-lg"
    icon="pi pi-plus"
    label="Add New Forum Post"
    (click)="goToAddForumPostPage()"
  ></button>
</ng-template>

