<div class="mt-4">
  <textarea
    pInputTextarea
    name="comment"
    id="comment"
    class="w-full"
    placeholder="Enter comment here"
  ></textarea>

  <div class="flex justify-content-end mt-2">
    <button
      pButton
      class="p-button-outlined p-button-danger justify-content-center mr-2"
      icon="pi pi-reply"
      label="Submit"
    ></button>
    <button
      pButton
      class="
        p-button-outlined p-button-danger
        justify-content-center
        align-self-end
      "
      icon="pi pi-times"
      label="Cancel"
    ></button>
  </div>
</div>
