<ng-container *appShellNoRender>
  <app-heading
    [title]="'FAQs LISTS MANAGEMENT'"
    [description]="'View all faqs created'"
    [sideTemplate]="addButton"
  >
  </app-heading>

  <ng-template #addButton>
    <button
      pButton
      class="align-self-end p-btn p-btn-lg"
      icon="pi pi-plus"
      label="Add New Faq"
      (click)="goToAddNewFaq()"
    ></button>
  </ng-template>

  <app-table
    [data]="(faqsList$ | async) || []"
    [columnsDefinition]="columns"
    [actionTemplate]="actions"
    [showAction]="true"
    [refreshDataFunction]="fetchFaqs"
  ></app-table>

  <ng-template #actions let-faq>
    <div class="flex justify-content-between">
      <button
        class="p-button p-button-rounded p-button-info mr-3"
        pButton
        tooltipPosition="bottom"
        pTooltip="View Faq"
        icon="pi pi-eye"
        (click)="viewFaq(faq)"
      ></button>

      <button
        class="p-button p-button-warning p-button-rounded mr-3"
        pButton
        pTooltip="Edit Faq"
        tooltipPosition="bottom"
        icon="pi pi-pencil"
        (click)="editFaq(faq)"
      ></button>

      <button
        class="p-button p-button-danger p-button-rounded mr-auto"
        pButton
        pTooltip="Delete Faq"
        tooltipPosition="bottom"
        icon="pi pi-trash"
        clickConfirmation
        (onConfirm)="deleteFaq(faq)"
      ></button>
    </div>
  </ng-template>

  <ng-template #contentTemplate let-content>
    <div [innerHTML]="content | appEllipsis: 100"></div>
  </ng-template>
</ng-container>

