<ng-container *appShellNoRender>
  <div class="text-center flex justify-content-between mt-2">
    <div>FAQs LISTS MANAGEMENT</div>

    <button
      pButton
      class="align-self-end p-btn p-btn-lg"
      icon="pi pi-plus"
      label="Add New Faq"
      (click)="goToAddNewFaq()"
    ></button>
  </div>

  <app-table
    [data]="(faqsList$ | async) || []"
    [columnsDefinition]="columns"
    [actionTemplate]="actions"
    [showAction]="true"
    [refreshDataFunction]="fetchFaqs"
  ></app-table>

  <ng-template #actions let-faq>
    <div class="flex justify-content-between">
      <button
        class="p-button p-button-rounded p-button-danger mr-3"
        pButton
        tooltipPosition="bottom"
        pTooltip="View Faq"
        icon="pi pi-eye"
        (click)="viewFaq(faq)"
      ></button>

      <button
        class="p-button p-button-info p-button-rounded mr-auto"
        pButton
        pTooltip="Edit Faq"
        tooltipPosition="bottom"
        icon="pi pi-pencil"
        (click)="editFaq(faq)"
      ></button>
    </div>
  </ng-template>
</ng-container>

