<ng-container [formGroup]="forumPostForm">
  <div class="formgrid grid">
    <div class="field col-12">
      <label for="title">Title</label>
      <input
        pInputText
        id="title"
        type="text"
        class="inputfield w-full"
        formControlName="title"
        placeholder="Forum Post Title"
      />
    </div>

    <div class="field col-12">
      <label for="title">Forum Name</label>
      <app-forum-autocomplete [selectedForum]="forum"></app-forum-autocomplete>
    </div>
    <div class="field col-12 mb-8">
      <label for="content">Body</label>
      <app-content-box
        #contentBox
        [required]="true"
        [contentFormControl]="content"
        classNames="h-auto"
      ></app-content-box>
    </div>
    <div class="col-12 ml-auto flex justify-content-end mt-2">
      <button
        pButton
        pRipple
        class="mr-1"
        type="button"
        icon="pi pi-save"
        [label]="(createForm ? 'Add' : 'Edit') + ' Forum Post'"
        [disabled]="forumPostForm.invalid"
        (click)="onAddOrUpdateForumPost()"
      ></button>
      <button
        pButton
        pRipple
        class="p-button-danger mr-1"
        icon="pi pi-times"
        type="button"
        label="Cancel"
        (click)="goBack()"
      ></button>
    </div>
  </div>
</ng-container>
