<h3 class="text-center">User Profile</h3>
<div class="flex flex-column justify-content-center align-items-center">
  <p-image
    [src]="getImageToUpload() ?? (selectedUser$ | async)?.profile?.avatar"
    styleClass="border-circle w-17rem h-17rem align-self-center"
    imageClass="border-circle w-17rem h-17rem z-1 border-gray-200 border-1 p-2"
    [preview]="true"
    alt="user-profile-picture"
  ></p-image>

  <div class="h-3rem align-self-center mt-3">
    <div [ngClass]="getImageToUpload() ? 'hidden' : 'block'">
      <app-image-upload
        [mode]="imageUploadMode"
        label="Change Avatar"
        #imageUpload
        [multiple]="false"
        control
      ></app-image-upload>
    </div>
    <button
      pButton
      icon="pi pi-times"
      class="p-button-rounded p-button-danger"
      label="Cancel"
      pTooltip="Cancel"
      (click)="onUploadCancel()"
      [ngClass]="getImageToUpload() ? 'block' : 'hidden'"
    ></button>
  </div>
</div>

<div class="flex flex-column mt-3">
  <div class="text-center">
    {{ (selectedUser$ | async)?.first_name }}
    {{ (selectedUser$ | async)?.last_name }}
  </div>
  <div class="text-center mt-3">{{ (selectedUser$ | async)?.email }}</div>
</div>

<div class="mt-3 flex flex-column justify-content-center align-items-center">
  <div>
    <button
      pButton
      icon="pi pi-refresh"
      class="p-button-warning mr-2"
      label=" Request OTP"
      (click)="requestPasswordReset()"
      type="button"
      [disabled]="otpRequested"
    ></button>
    <button
      pButton
      icon="pi pi-refresh"
      class="p-button-warning"
      label=" Change password"
      (click)="navigateToResetPage()"
      type="button"
      [disabled]="!otpRequested"
    ></button>
  </div>

  <p class="text-sm font-bold text-pink-500">
    To change your password, request an OTP(One Time Password) first. The OTP
    will be sent to your email and will be required when changing your password
  </p>
</div>

<p-divider></p-divider>

<div>
  <h3>Edit Profile</h3>
  <ng-container [formGroup]="profileForm">
    <div class="fluid formgrid grid p-3">
      <div class="field col-12">
        <label for="email">Email Address</label>
        <input
          type="text"
          pInputText
          class="inputfield w-full"
          formControlName="email"
          placeholder="Email Address"
        />
      </div>

      <div class="flex flex-column md:flex-row w-full">
        <div class="field col-12 md:col-6">
          <label for="fname">First Name</label>
          <input
            type="text"
            pInputText
            class="inputfield w-full"
            formControlName="first_name"
            placeholder="First Name"
          />

          <label for="fname">Last Name</label>
          <input
            type="text"
            pInputText
            class="inputfield w-full"
            formControlName="last_name"
            placeholder="Last Name"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="address">Postal Address</label>
          <input
            type="text"
            pInputText
            class="inputfield w-full"
            formControlName="address"
            placeholder="Postal Address"
          />
        </div>
      </div>

      <div class="flex flex-column md:flex-row w-full">
        <div class="field col-12 md:col-6">
          <label for="gh_post">Ghana Post</label>
          <p-inputMask
            styleClass="w-full"
            formControlName="ghana_post"
            mask="aa-999-9999"
            placeholder="AA-001-1010"
          ></p-inputMask>
        </div>
        <div class="field col-12 md:col-6">
          <label for="district">District</label>
          <input
            type="text"
            pInputText
            class="inputfield w-full"
            formControlName="district"
            placeholder="District"
          />
        </div>
      </div>
      <div class="field col-12">
        <label for="bio">Bio</label>
        <textarea
          pInputTextarea
          name="bio"
          id="bio"
          class="w-full"
          rows="5"
          placeholder="Enter bio here"
          formControlName="bio"
        ></textarea>
      </div>
      <div class="field col-12">
        <label for="website">Website</label>
        <input
          type="text"
          pInputText
          class="inputfield w-full"
          formControlName="website"
          placeholder="Website"
        />
      </div>
      <div class="field col-12">
        <label for="youtube">Youtube Address</label>
        <input
          type="text"
          pInputText
          class="inputfield w-full"
          formControlName="youtube"
          placeholder="Youtube Address"
        />
      </div>
      <div class="field col-12">
        <label for="facebook">Facebook </label>
        <input
          type="text"
          pInputText
          class="inputfield w-full"
          formControlName="facebook"
          placeholder="Facebook Address"
        />
      </div>
      <div class="field col-12">
        <label for="twitter">Twitter </label>
        <input
          type="text"
          pInputText
          class="inputfield w-full"
          formControlName="twitter"
          placeholder="Twitter"
        />
      </div>
    </div>
  </ng-container>
  <div class="col-12 ml-auto flex justify-content-end">
    <button
      pButton
      pRipple
      class="mr-1 p-button-secondary"
      type="button"
      icon="pi pi-save"
      label="Update Profile"
      (click)="onEditProfile()"
    ></button>
  </div>
</div>

