<div
  class="shadow-4 bg-darkblue text-white h-10rem p-2 w-full fadein animation-duration-500 justify-content-between align-items-center flex flex-column border-round"
>
  <div class="align-items-center font-bold mt-4">
    Download {{ resource.name }}
  </div>
  <div class="align-items-center text-xs mt-4">
    {{ resource.description || '' | appEllipsis: 100 }}
  </div>

  <p-button
    styleClass="text-white p-button-outlined p-button-rounded my-2"
    icon="pi pi-arrow-down"
    (click)="downloadFile()"
    pTooltip="Download File"
  ></p-button>
</div>
