<ng-container>
  <form
    [formGroup]="changePasswordForm"
    class="my-8"
    enterPressed
    (onEnterPressed)="onChangePasswordSubmit()"
    errorTailor
  >
    <div
      class="fluid formgrid grid justify-content-between align-content-center"
    >
      <!-- password -->
      <div class="field col-12 static">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <p-password
            [toggleMask]="true"
            type="password"
            placeholder="Enter new password"
            formControlName="password"
            inputStyleClass="w-12 relative"
            styleClass="w-12"
            autocomplete="off"
          ></p-password>
        </div>
      </div>

      <!-- confirm password -->
      <div class="field col-12 static">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <p-password
            [toggleMask]="true"
            [feedback]="false"
            inputStyleClass="w-12 relative"
            styleClass="w-12"
            autocomplete="off"
            placeholder="Confirm password"
            formControlName="cpassword"
          ></p-password>
        </div>
      </div>

      <!--OTP -->
      <div class="field col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            type="text"
            pInputText
            placeholder="OTP"
            formControlName="otp"
            class="inputfield w-full"
          />
        </div>
        <span class="text-xs">Get this code from your email</span>
      </div>

      <div
        class="field col-12 ml-auto flex justify-content-between align-items-center"
      >
        <button
          pButton
          pRipple
          class="align-self-center"
          type="button"
          label="Change Password"
          [disabled]="changePasswordForm.invalid"
          (click)="onChangePasswordSubmit()"
        ></button>
      </div>
    </div>
  </form>
</ng-container>

