:host ::ng-deep {
  .header-bar {
    height: 5px;
    background-color: #212529;
  }
  .divider {
    background-color: #212529;
    height: 1px;
  }
  .img-container {
    margin-top: -1.5em;
  }
  .img {
    height: 200px;
    width: 100%;
  }
}
