:host {
  width: 100% !important;
  ::ng-deep {
    .p-divider.p-divider-vertical:before {
      border-color: var(--darkblue-500) !important;
    }
  }
}

.wrapper {
  @media screen and (min-width: 992px) {
    top: 100px;
    height: 85vh !important;
  }
}

