<div
  class="flex h-full wrapper col-12 p-0 w-full p-0 wrapper lg:sticky justify-content-between overflow-x-hidden relative h-auto mb-5"
>
  <p-divider
    type="solid"
    layout="vertical"
    styleClass="hidden xl:flex p-0 mr-6 border-darkblue"
  ></p-divider>

  <div class="p-4 grid flex flex-column" *appShellRender>
    <p-skeleton styleClass="mb-3 w-11" height="10rem"></p-skeleton>
    <p-skeleton styleClass="mb-3 w-11" height="10rem"></p-skeleton>
    <p-skeleton styleClass="mb-3 w-11" height="10rem"></p-skeleton>
    <p-skeleton styleClass="mb-3 w-11" height="10rem"></p-skeleton>
  </div>

  <div *ngIf="featuredArticles$ | async" class="flex flex-column">
    <div
      class="text-center text-2xl text-darkblue w-full text-base mb-1 underline"
    >
      Featured Articles
    </div>
    <div class="grid gap-v-8">
      <ng-container
        *ngFor="
          let fArticle of featuredArticles$ | async;
          trackBy: trackAny('article.id')
        "
      >
        <div class="mt-4 col-12 sm:col-6 xl:col-12 p-4 xl:p-1 h-15rem xl:13rem">
          <app-featured-article-card [featuredArticle]="fArticle.article">
          </app-featured-article-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>

