.article-title-text {
  color: var(--text-color);

  @media screen and (max-width: 1200px) and (min-width: 700px) {
    color: white !important;
  }

  &:hover {
    padding: 4px;
    font-weight: bolder;
  }
}
