<ng-container *ngIf="forumPost$ | async; else loading">
  <div
    class="px-8 py-3 w-full fadein animation-duration-500 p-component shadow-2 mt-5"
  >
    <div class="flex justify-content-between align-content-center">
      <div class="flex">
        <p-avatar
          styleClass="mr-2"
          size="large"
          shape="circle"
          [image]="(forumPost$ | async)?.submitter.avatar"
        ></p-avatar>
        <div class="text-xl font-bold mt-1">
          {{ (forumPost$ | async)?.title | uppercase }}
          <div class="text-sm font-italic text-blue-800">
            {{ (forumPost$ | async)?.submitter.username }} |
            {{ (forumPost$ | async)?.created_on | date: 'longDate' }}
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      {{ (forumPost$ | async)?.content || '' }}
    </div>
    <ng-container *ngIf="(forumPost$ | async)?.images?.length! > 0">
      <div class="justify-content-center align-items-center flex">
        <p-galleria
          [value]="(forumPost$ | async)?.images || []"
          [responsiveOptions]="responsiveOptions"
          containerClass="w-auto md:w-20rem xl:w-25rem "
          [numVisible]="5"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="4000"
          [showItemNavigators]="true"
          [showIndicators]="true"
          [showThumbnailNavigators]="false"
          [showThumbnails]="false"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.image"
              class="mt-2 h-20rem w-auto object-fit-cover border-gray-300 border-1 p-2 border-round"
              alt="forum-post-image"
            />
          </ng-template>
        </p-galleria>
      </div>
    </ng-container>
    <div class="flex justify-content-between align-items-center mt-2">
      <div>
        <button
          [style.visibility]="showCommentForm ? 'hidden' : 'visible'"
          pButton
          class="p-button-text p-button-danger justify-content-center align-self-end"
          icon="pi pi-reply"
          label="Reply"
          proceedIfLoggedIn
          (onProceed)="displayCommentForm()"
        ></button>
      </div>
      <div>
        <app-votes
          (dislikeClickEvent)="dislikeForumPost()"
          (likeClickEvent)="likeForumPost()"
          [dislikeCount]="(forumPost$ | async)?.downvotes || 0"
          [likeCount]="(forumPost$ | async)?.upvotes || 0"
          [type]="CommentType.ForumPost"
          [id]="(forumPost$ | async)?.id"
          [liked]="
            ((forumPost$ | async)?.user?.voted || false) &&
            (forumPost$ | async)?.user?.type === VoteType.upvote
          "
          [disliked]="
            ((forumPost$ | async)?.user?.voted || false) &&
            (forumPost$ | async)?.user?.type === VoteType.downvote
          "
        ></app-votes>
      </div>

      <div>
        <app-comments
          [commentCount]="(forumPost$ | async)?.comments?.length || 0"
        ></app-comments>
      </div>
    </div>

    <div *ngIf="showCommentForm" class="mt-2">
      <app-comment-form
        (commentAddEvent)="addCommentToForumPost($event)"
        (cancelEvent)="hideCommentForm()"
      ></app-comment-form>
    </div>
  </div>
  <ng-container *ngIf="(forumComments$ | async)?.length">
    <div
      class="mt-4"
      *ngFor="let comment of forumComments$ | async; trackBy: trackById"
    >
      <app-comment-card
        [comment]="comment"
        [loadSubCommentsOnClick]="true"
      ></app-comment-card>
      <ng-container></ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-forum-loading-card></app-forum-loading-card>
</ng-template>
