.item-list {
  display: flex;
  align-items: center;
  // padding: .5rem;
  width: 100%;

  .item-list-detail {
      flex: 1 1 0;
  }

  .item-list-action {
    display: flex;
    align-items: flex-end;
  }

}

@media screen and (max-width: 576px) {
  .item-list {
    flex-wrap: wrap;
  }
}
