<app-alert></app-alert>
<app-toasts></app-toasts>
<app-dialog></app-dialog>
<div class="grid justify-content-center align-items-center">
  <nav class="col-12 topbar">
    <app-top-nav></app-top-nav>
  </nav>
  <div class="col-12 grid">
    <aside class="hidden col-2 lg:flex sidenav">
      <app-side-nav></app-side-nav>
    </aside>

    <div class="col-12 md:col-8 lg:col-8 grid justify-content-center">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
      <div class="leftcontent col-12 md:hidden">left content</div>
      <div class="rightcontent col-12 md:hidden">right content</div>
    </div>

    <div class="hidden md:flex md:col-4 lg:col-2">
      <app-right-nav-card></app-right-nav-card>
    </div>
  </div>
  <footer class="col-12 footer">
    <app-footer></app-footer>
  </footer>
</div>
<div>
  <app-right-overlay-panel>
    <router-outlet name="right-panel"></router-outlet>
  </app-right-overlay-panel>
</div>
