.leftside {
  background-color: var(--menu-background);
}

:host ::ng-deep {
  p-breadcrumb ul li.p-breadcrumb-chevron {
    color: unset;
  }
}


.loader {
  margin-top: 30vh;
}

.right-nav-in-sidebar {
  ::ng-deep {
    app-right-nav-card > * {
      color: white !important
    }
  }
}