<app-alert></app-alert>
<app-toasts></app-toasts>
<app-dialog></app-dialog>
<div class="grid h-full">
  <nav class="topbar w-full sticky top-0 z-5">
    <app-top-nav></app-top-nav>
  </nav>
  <div class="col-12 grid pt-0 pb-0 justify-content-center">
    <div class="hidden col-2 lg:flex p-0 leftside">
      <app-side-nav></app-side-nav>
    </div>

    <div
      class="
        col-12
        md:col-10
        xl:col-8
        grid
        justify-content-center
        h-full
        pt-5
        px-3
      "
    >
      <div class="col-12 min-h-full md:min-h-screen">
        <div class="flex">
          <div class="mr-3 hidden lg:flex">
            <app-back-button styleClass="h-2rem"></app-back-button>
          </div>
          <p-breadcrumb
            styleClass="p-0 border-noround border-none m-0 border-bottom-1 border-gray-800 pb-2 mb-3"
            [home]="home"
            [model]="(breadcrumbs$ | async) ?? []"
          ></p-breadcrumb>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="rightcontent col-12 md:hidden">
        <app-right-nav-card></app-right-nav-card>
      </div>
    </div>

    <div class="hidden xl:flex xl:col-2 h-full pt-5">
      <app-right-nav-card></app-right-nav-card>
    </div>
  </div>
  <footer class="col-12 footer p-0">
    <app-footer></app-footer>
  </footer>

  <app-right-overlay-panel>
    <router-outlet name="right-panel"></router-outlet>
  </app-right-overlay-panel>

  <ng-container *ngIf="modalActive$ | async">
    <app-modal-components></app-modal-components>
  </ng-container>
</div>
