<app-heading
  [title]="title"
  [description]="description"
  [sideTemplate]="sideTemplate"
  [headerTemplate]="headerTemplate"
></app-heading>

<ng-container *ngIf="loading || !items; else loaded">
  <div class="flex flex-column justify-content-start align-content-center m-0">
    <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <!-- size="15rem" -->
      <!-- <div [class]="itemClass + ' ' + loadingElementClass"> -->
      <p-skeleton
        shape="rectangle"
        width="70vw"
        height="10vh"
        styleClass="mx-auto mb-4"
      ></p-skeleton>
      <!-- </div> -->
    </ng-container>
  </div>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="items?.length > 0; else noresults">
    <div class="grid justify-content-start align-content-center m-0 lg:mx-3">
      <ng-container *ngFor="let item of items">
        <div [class]="itemClass">
          <ng-container
            [ngTemplateOutlet]="itemTemplate"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #noresults>
  <app-no-results-found></app-no-results-found>
</ng-template>

