:host::ng-deep {
  .p-orderlist {
    display: flex;
  }
  .p-orderlist .p-orderlist-header {
    background: #fafafa;
    color: #3f3f46;
    border: 1px solid #e5e7eb;
    padding: 1.25rem;
    border-bottom: 0 none;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
  }
  .p-orderlist-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p-orderlist-list-container {
    margin-left: 1rem;
  }

  .p-orderlist .p-orderlist-buttons {
    padding: 1.25rem;
  }
  .p-orderlist-controls > button {
    margin-bottom: 0.5rem;
  }
  .p-orderlist .p-orderlist-list {
    height: 100%;
  }
  .p-orderlist .p-orderlist-list {
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #3f3f46;
    padding: 0.25rem 0;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  .p-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 12rem;
  }
  .p-orderlist .p-orderlist-list .p-orderlist-item {
    padding: 0.75rem 1rem;
    margin: 0;
    border: 0 none;
    color: #3f3f46;
    background: transparent;
    transition: none;
  }
  .p-input-icon-left,
  .p-input-icon-right {
    position: relative;
    display: inline-block;
  }
  .p-input-icon-right > .p-inputtext {
    padding-right: 2.5rem;
  }
  .p-orderlist-filter {
    position: relative;
  }
  .p-orderlist .p-orderlist-filter-container .p-orderlist-filter-input {
    padding-right: 1.75rem;
  }
  .p-orderlist-filter-input {
    width: 100%;
  }
  .p-orderlist .p-orderlist-filter-container .p-orderlist-filter-icon {
    right: 0.75rem;
    color: #71717a;
  }
  .p-orderlist-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
  }
  .p-orderlist-filter-container {
    padding: 1.25rem;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-bottom: 0 none;
  }
}

