<app-heading
  [title]="'Add A Forum'"
  [description]="
    'This form is used to add a forum where users can post topics for discussion'
  "
>
</app-heading>
<ng-container [formGroup]="forumForm" errorTailor>
  <div class="formgrid grid px-4">
    <div class="field col-12">
      <label for="title">Title</label>
      <input
        pInputText
        id="title"
        type="text"
        class="inputfield w-full"
        formControlName="name"
        placeholder="Forum Title"
      />
    </div>

    <div class="field col-12">
      <label for="title">Tag</label>
      <app-tag-autocomplete
        [tagType]="forumTagType"
        [selectedTags]="tags"
      ></app-tag-autocomplete>
    </div>

    <div class="field col-12">
      <label for="description">Description</label>

      <textarea
        id="description"
        class="inputfield w-full"
        formControlName="description"
        pInputTextarea
        placeholder="Forum Description"
        [rows]="5"
      ></textarea>
    </div>

    <div class="col-12 ml-auto flex justify-content-end mt-2">
      <button
        pButton
        pRipple
        class="mr-1"
        type="button"
        icon="pi pi-save"
        [label]="(createForm ? 'Add' : 'Update') + ' Forum'"
        [disabled]="forumForm.invalid"
        (click)="onAddOrUpdateForum()"
      ></button>
      <button
        pButton
        pRipple
        class="p-button-danger mr-1"
        icon="pi pi-times"
        type="button"
        label="Cancel"
        (click)="goBack()"
      ></button>
    </div>
  </div>
</ng-container>

