<div class="w-full p-6">
  <h1 class="font-bold text-3xl text-headers">
    FREQUENTLY ASKED QUESTIONS (FAQs)
  </h1>
  <div>
    <div *ngIf="loading$ | async">
      <i class="pi-spinner pi-spin" style="font-size: 6rem"></i>
    </div>
    <p-accordion>
      <p-accordionTab *ngFor="let faq of questions" [header]="faq.question">
        <div
          class="col-12 w-full article-content"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(faq.answer)"
        ></div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>

