<ng-container *appShellNoRender>
  <div class="text-center flex justify-content-between">
    <div>DIGITAL LINKS MANAGEMENT</div>

    <button
      pButton
      class="align-self-end p-btn p-btn-lg"
      icon="pi pi-plus"
      label="Add New Link"
      (click)="goToAddNewLink()"
    ></button>
  </div>

  <app-table
    [data]="(digitalLink$ | async) || []"
    [columnsDefinition]="columns"
    [actionTemplate]="actions"
    [showAction]="true"
    [refreshDataFunction]="fetchData"
  ></app-table>

  <ng-template #actions let-digitallink>
    <div class="flex justify-content-between">
      <button
        class="p-button p-button-rounded p-button-danger mr-3"
        pButton
        tooltipPosition="bottom"
        pTooltip="View DigitalLink"
        icon="pi pi-eye"
        (click)="viewLink(digitallink)"
      ></button>

      <button
        class="p-button p-button-info p-button-rounded mr-auto"
        pButton
        pTooltip="Edit DigitalLink"
        tooltipPosition="bottom"
        icon="pi pi-pencil"
        (click)="editLink(digitallink)"
      ></button>
    </div>
  </ng-template>

  <ng-template #featuredTemplate let-featured>
    <p-message
      [severity]="featured === true ? 'info' : 'warn'"
      [text]="featured | BooleanPipe"
      styleClass="p-message-no-icon"
    ></p-message>
  </ng-template>
</ng-container>
