/* You can add global styles to this file, and also import other style files */
@import 'src/styles/quill-editor';
@import '~ngx-sharebuttons/themes/default';
@import 'src/styles/theme';

:root {
  --menu-background: #27272a;
  font-size: 14px;
  // --accent-color: #d20787;
  --accent-color: #04a353;
  // --primary-color: #0986b2;
  --primary-color: #2f4d9f;

  --sidebar-light-blue: #fbfdfe;
}

.primary {
  color: var(--primary-color) !important;
}

body {
  margin: 0;
  font-family: Inter;
}

.div-with-background-image {
  background-repeat: no-repeat;
  background-size: cover;

  background-color: bisque;
  height: 10rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p-menuitem-link-active {
  span {
    color: var(--orange-500) !important;
  }
}

.p-message-no-icon {
  .p-inline-message-icon::before {
    content: '';
  }
}
.bg-primary {
  background-color: var(--primary-color) !important;
}

.hover-underline {
  &:hover {
    text-decoration: underline !important;
  }
}

.menubackground {
  background-color: var(--menu-background);
}

.nobackground-color {
  background-color: unset !important;
}

.p-divider-no-background {
  .p-divider-content {
    background-color: unset !important;
  }
}

.no-dialog-header {
  .p-dialog-header {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .p-dialog-content {
    padding: 8px !important;
    padding-top: 0 !important;
  }

  .p-dialog {
    max-height: 100% !important;
  }
}
.p-picklist .p-picklist-list {
  height: 100%;
}

.app-picklist {
  height: 400px;
  overflow-y: auto;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.bg-darkblue {
  background-color: var(--darkblue-500) !important;
}

.sidebar-lightblue {
  background-color: var(--sidebar-light-blue) !important;
}
.bg-grey {
  background-color: var(--grey-500) !important;
}

.bg-light-pink {
  background-color: var(--light-pink-500) !important;
}

.bg-light-blue {
  background-color: var(--light-blue-500) !important;
}

.text-darkblue {
  color: var(--darkblue-500) !important;
}

.gap-v-8 {
  > :not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.z-10 {
  z-index: 10 !important;
}

.high-z {
  z-index: 8888 !important;
}
.control-error {
  color: #e24c4c;
  font-size: 0.9rem;
}

.lh-24 {
  line-height: 24px !important;
}

.vh100 {
  height: calc(100vh - 30px) !important;
}
.p-sidebar-mask {
  backdrop-filter: blur(1px);
  @media screen and (min-width: 992px) {
    z-index: 2 !important;
  }
}

.text-headers {
  color: var(--accent-color);
}

.button-color {
  background-color: var(--accent-color) !important;
}

.button-color:enabled:hover {
  background-color: var(--accent-color);
  opacity: 0.8;
}

.p-menuitem-link-active span {
  color: var(--accent-color) !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link
  .p-menuitem-text,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover
  .p-menuitem-text {
  color: var(--accent-color) !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link
  .p-menuitem-icon,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover
  .p-menuitem-icon {
  color: var(--accent-color) !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link
  .p-submenu-icon,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover
  .p-submenu-icon {
  color: var(--accent-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  .p-menuitem-icon,
  .p-menuitem-text,
  .p-submenu-icon {
    color: white !important;
  }
}

.p-submenu-list {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: var(--accent-color) !important;
}

.p-menubar .p-submenu-list {
  background: var(--primary-color);
}
