/* You can add global styles to this file, and also import other style files */
@import 'src/styles/quill-editor';
@import '~ngx-sharebuttons/themes/default';

:root {
  --menu-background: #27272a;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Inter;
}

.div-with-background-image {
  background-repeat: no-repeat;
  background-size: cover;

  background-color: bisque;
  height: 10rem;
}

.p-menuitem-link-active {
  span {
    color: red !important;
  }
}

.p-message-no-icon {
  .p-inline-message-icon::before {
    content: '';
  }
}

.hover-underline {
  &:hover {
    text-decoration: underline !important;
  }
}

.menubackground {
  background-color: var(--menu-background);
}

.nobackground-color {
  background-color: unset !important;
}

.p-divider-no-background {
  .p-divider-content {
    background-color: unset !important;
  }
}

.no-dialog-header {
  .p-dialog-header {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .p-dialog-content {
    padding: 8px !important;
    padding-top: 0 !important;
  }

  .p-dialog {
    max-height: 100% !important;
  }
}
.p-picklist .p-picklist-list {
  height: 100%;
}

.app-picklist {
  height: 400px;
  overflow-y: auto;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.bg-darkblue {
  background-color: var(--darkblue-500) !important;
}

.bg-grey {
  background-color: var(--grey-500) !important;
}

.bg-light-pink {
  background-color: var(--light-pink-500) !important;
}

.text-darkblue {
  color: var(--darkblue-500) !important;
}
