/* You can add global styles to this file, and also import other style files */

@import 'src/styles/quill-editor';
@import '~ngx-sharebuttons/themes/default';

body {
  margin: 0;
}

.div-with-background-image {
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-size: contain;
  }
}

.p-menuitem-link-active {
  span {
    color: red !important;
  }
}
