:host {
  width: 100%;
  ::ng-deep {
    p-autoComplete,
    .p-autocomplete-multiple-container {
      width: 100%;

      span.p-autocomplete {
        width: 100%;
      }
    }
    .p-autocomplete-panel {
      width: auto;
    }
  }
}

