<p-menubar
  [model]="(items$ | async) || []"
  styleClass="sticky z-1 border-none border-noround"
>
  <ng-template pTemplate="start" class="pl-5">MSME GATEWAY </ng-template>

  <ng-template pTemplate="end">
    <ng-container>
      <div class="flex justify-content-between align-items-center">
        <span class="p-input-icon-right mr-3">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" />
        </span>

        <button
          *ngIf="loggedInUser$ | async"
          class="p-button-outlined p-button-rounded p-button-primary mr-1"
          icon="pi pi-user"
          (click)="goToLoginPage()"
          pButton
        ></button>
        <div>
          {{ (loggedInUser$ | async)?.name }}
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-menubar>
