:host ::ng-deep {
  p-menu {
    .loginMenu {
      top: 62px !important;
    }
  }

  p-menubarsub {
    .p-submenu-list {
      top: 48px;
      border-radius: 6px;
      margin-left: 0.3rem;
    }
  }

  @media screen and (max-width: 961px) {
    .mobile-search-menu {
      display: none !important;
    }

    .p-menubar .p-menubar-end {
      display: none;
    }

    p-menubar {
      .p-menubar .p-menubar-button {
        &::after {
          content: ' Menu';
          font-size: 1.5rem;
        }

        &:hover {
          outline: none !important;
          background: none !important;
          border: none !important;
        }
        &:focus {
          box-shadow: none !important;
        }

        color: white !important;
        margin-top: 0.5rem;
      }

      .p-menubar-mobile-active {
        position: static;
      }

      .p-menubar-root-list {
        width: 100%;
        position: absolute;
        top: 3.5rem;
        left: 0;
      }
      .p-menubar .p-menubar-button i {
        font-size: 1.5rem;
        margin-right: 0.5em;
      }
    }
  }
  .searchButton {
    color: white;
  }
}

