:host ::ng-deep {
  p-menubarsub {
    margin-left: 15%;
    ul > li > a > span.p-menuitem-text {
      color: white !important;
    }
  }

  @media screen and (max-width: 960px) {
    .p-menubar .p-menubar-button {
      margin-left: auto;
      margin-right: 0;
    }
    .p-menubar .p-menubar-end {
      display: none;
    }
  }
}
