<div class="bg-primary flex justify-content-between 4-rem p-1 sticky z-1">
  <!-- start  -->
  <div
    class="flex align-content-center flex-row justify-content-between ml-2 col-2"
  >
    <div class="lg:hidden mr-3">
      <app-back-button></app-back-button>
    </div>

    <div
      class="text-lg justify-content-center text-darkblue font-bold fadein text-white animation-duration-500 animation-ease-in-out cursor-pointer align-self-center"
      routerLink="/"
    >
      <!-- home and home icon -->
      <span class="hidden lg:block text-white text-2xl ml-5">
        MSME Gateway
        <i class="pi pi-home text-2xl"></i>
      </span>
      <span class="text-darkblue lg:hidden text-xl text-white">
        <i class="pi pi-home" style="font-size: 2rem"></i>
      </span>
      <!-- <em class="text-xs">One stop for information</em> -->
    </div>
  </div>

  <!-- menu -->
  <p-menubar
    [model]="(items$ | async) || []"
    [autoDisplay]="true"
    styleClass=" border-none border-noround p-divider-no-background bg-primary p-2"
  >
  </p-menubar>

  <!-- search and login for mobile screen -->
  <ng-container>
    <div
      class="md:hidden justify-content-between align-items-center mobile-search-menu col"
    >
      <ng-container [ngTemplateOutlet]="search"></ng-container>
      <ng-container [ngTemplateOutlet]="userLoginMenu"></ng-container>
    </div>
  </ng-container>
  <!-- end search and login for mobile screen -->

  <!-- animated search dropdown -->
  <div
    class="absolute w-full h-4rem mt-7 hidden surface-600 animation-duration-500 animation-ease-out justify-content-center align-items-center fadeinup p-1 searchButton xl:hidden"
  >
    <div>
      <ng-container [ngTemplateOutlet]="search"></ng-container>
    </div>
  </div>
  <!-- end animated search dropdown -->

  <!-- search for xl screen -->
  <div
    class="hidden xl:inline-flex xl:justify-content-end mx-2 align-items-center col"
  >
    <ng-container [ngTemplateOutlet]="search"></ng-container>
    <app-login-button></app-login-button>
  </div>
  <!-- end search for xl screen -->

  <!-- user login menu for small to lg screen-->
  <div class="flex justify-content-between align-items-center xl:hidden">
    <button
      class="xl:hidden p-button-outlined p-button-rounded p-button-secondary mr-1 button-color text-white"
      icon="pi pi-search"
      pStyleClass=".searchButton"
      enterClass="hidden"
      enterActiveClass="flex"
      enterToClass="flex"
      leaveClass="flex"
      leaveActiveClass="fadeoutup"
      leaveToClass="hidden"
      pButton
      (click)="toggleSearchBar()"
    ></button>
    <div class="lg:hidden flex justify-content-between align-items-center mr-3">
      <ng-container [ngTemplateOutlet]="userLoginMenu"></ng-container>
    </div>
  </div>
  <!-- user login menu -->
</div>

<ng-template #search>
  <div
    class="flex justify-content-center md:justify-content-end align-items-center"
  >
    <input
      *ngIf="searchBar"
      type="text"
      pInputText
      class="col-10 md:col-7 mr-3"
      placeholder="What are you looking for?"
      [formControl]="searchInputControl"
      enterPressed
      (onEnterPressed)="searchTerm()"
    />
    <button
      pButton
      icon="pi pi-search"
      class="p-button-rounded col-2 button-color mr-3"
      (click)="$event.stopPropagation(); toggleSearchBar()"
      pStyleClass=".searchButton"
      enterClass="hidden"
      enterActiveClass="flex"
      enterToClass="flex"
      leaveClass="flex"
      leaveActiveClass="fadeoutup"
      leaveToClass="hidden"
    ></button>
  </div>
</ng-template>

<ng-template #userLoginMenu>
  <app-login-button></app-login-button>
</ng-template>

