<p-card
  *ngIf="productAd"
  [header]="productAd.product.name"
  styleClass="shadow-6 article-card p-2 w-full fadein animation-duration-500 justify-content-between"
>
  <ng-template pTemplate="header">
    <!-- static image -->
    <div
      class="div-with-image-background"
      [style.backgroundImage]="backgroundImage"
    ></div>
  </ng-template>

  <ng-template pTemplate="footer">
    <!-- <div class="flex justify-content-center align-self-end"> -->
    <div class="font-bold">Price: {{ productAd.product.price }} GHS</div>
    <div>Contact: {{ productAd.cellphone }}</div>
    <p><i class="pi pi-map-marker"></i> {{ productAd.location }}</p>
      <button
        pButton
        class="
          p-button-outlined p-button-danger
          justify-content-center
          align-self-end
        "
        label="View Ad"
        icon="pi pi-eye"
        (click)="openMarketAd()"
      ></button>

    <!-- </div> -->
  </ng-template>
</p-card>
