<h3 class="text-center">ARTICLES</h3>
<ng-container *ngIf="loadingArticles$ | async; else loaded">
  <div class="flex grid skeleton">
    <p-skeleton size="15rem"></p-skeleton>
    <p-skeleton size="15rem"></p-skeleton>
    <p-skeleton size="15rem"></p-skeleton>
    <p-skeleton size="15rem"></p-skeleton>
  </div>
</ng-container>

<ng-template #loaded>
  <div class="align-items-center grid">
    <ng-container *ngFor="let article of articles$ | async">
      <div class="col-12 md:col-6 lg:col-4">
        <app-article-card [article]="article"></app-article-card>
      </div>
    </ng-container>
  </div>
</ng-template>
